<div class="container">
    <hr>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; xClb 2020 😃</p>
            </div>
        </div>
    </footer>
</div>
