<div class="thumbnail">
    <img src="http:{{game.thumbnail}}">
    <div class="caption">
        {{game.id}}
        <h4><a [routerLink]="['/games', game.id]">{{ game.name }}</a>
        </h4>
    </div>
</div>
