<xclb-navbar></xclb-navbar>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <xclb-search></xclb-search>
        </div>

        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>

<xclb-footer></xclb-footer>
