<form name="searchForm">
    <div class="form-group">
        <label for="gameTitle">Name of game</label>
        <input type="text" id="gameTitle" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="gameCategory">Category of game</label>
        <select class="form-control" name="gameCategory" id="gameCategory"></select>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
</form>
