<div class="row">
    <div class="col-md-12">
        <xclb-carousel></xclb-carousel>
    </div>
</div>
<div class="row">
    <div *ngFor="let game of games | async" class="col-sm-4 col-lg-4 col-md-4">
        <xclb-game-item [game]='game'></xclb-game-item>
    </div>
</div>